<h1>Chris Models</h1>

In [27]:
#importing libraries
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score

In [28]:
#p1 dataset
p1 = pd.read_csv('plant1.csv')

In [29]:
p1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68774 entries, 0 to 68773
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   date_time            68774 non-null  object
 1   source_key_x         68774 non-null  object
 2   dc_power             68774 non-null  float64
 3   ac_power             68774 non-null  float64
 4   daily_yield          68774 non-null  float64
 5   total_yield          68774 non-null  float64
 6   ambient_temperature  68774 non-null  float64
 7   module_temperature   68774 non-null  float64
 8   irradiation          68774 non-null  float64
dtypes: float64(7), object(2)
memory usage: 4.7+ MB

In [30]:
#inverter encoding
df_encoded = pd.get_dummies(p1, columns=['source_key_x'])
df_encoded

,date_time,dc_power,ac_power,daily_yield,total_yield,ambient_temperature,module_temperature,irradiation,source_key_x_1BY6WEcLGh8j5v7,source_key_x_1IF53ai7Xc0U56Y,...,source_key_x_iCRJl6heRkivqQ3,source_key_x_ih0vzX44oOqAx2f,source_key_x_pkci93gMrogZuBj,source_key_x_rGa61gmuvPhdLxV,source_key_x_sjndEbLyjtCKgGv,source_key_x_uHbuxQJl8lW7ozc,source_key_x_wCURE6d3bPkepu2,source_key_x_z9Y9gH1T5YWrNuG,source_key_x_zBIq5rxdHJRwDNY,source_key_x_zVJPv84UY57bAof
0,2020-05-15 00:00:00,0.0,0.0,0.000,6259559.0,25.184316,22.857507,0.0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2020-05-15 00:00:00,0.0,0.0,0.000,6183645.0,25.184316,22.857507,0.0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,2020-05-15 00:00:00,0.0,0.0,0.000,6987759.0,25.184316,22.857507,0.0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2020-05-15 00:00:00,0.0,0.0,0.000,7602960.0,25.184316,22.857507,0.0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2020-05-15 00:00:00,0.0,0.0,0.000,7158964.0,25.184316,22.857507,0.0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68769,2020-06-17 23:45:00,0.0,0.0,5967.000,7287002.0,21.909288,20.427972,0.0,0,0,...,0,0,0,0,0,1,0,0,0,0
68770,2020-06-17 23:45:00,0.0,0.0,5147.625,7028601.0,21.909288,20.427972,0.0,0,0,...,0,0,0,0,0,0,1,0,0,0
68771,2020-06-17 23:45:00,0.0,0.0,5819.000,7251204.0,21.909288,20.427972,0.0,0,0,...,0,0,0,0,0,0,0,1,0,0
68772,2020-06-17 23:45:00,0.0,0.0,5817.000,6583369.0,21.909288,20.427972,0.0,0,0,...,0,0,0,0,0,0,0,0,1,0
68773,2020-06-17 23:45:00,0.0,0.0,5910.000,7363272.0,21.909288,20.427972,0.0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [31]:
df_encoded['date_time'] = pd.to_datetime(df_encoded['date_time'],format='%Y-%m-%d %H:%M')

In [32]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68774 entries, 0 to 68773
Data columns (total 30 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   date_time                     68774 non-null  datetime64[ns]
 1   dc_power                      68774 non-null  float64
 2   ac_power                      68774 non-null  float64
 3   daily_yield                   68774 non-null  float64
 4   total_yield                   68774 non-null  float64
 5   ambient_temperature           68774 non-null  float64
 6   module_temperature            68774 non-null  float64
 7   irradiation                   68774 non-null  float64
 8   source_key_x_1BY6WEcLGh8j5v7  68774 non-null  uint8
 9   source_key_x_1IF53ai7Xc0U56Y  68774 non-null  uint8
 10  source_key_x_3PZuoBAID5Wc2HD  68774 non-null  uint8
 11  source_key_x_7JYdWkrLSPkdwr4  68774 non-null  uint8
 12  source_key_x_McdE0feGgRqW7Ca  68774 non-null  uint8
 13  source_key_x_VHMLBKoKgIrUVDU  68774 non-null  uint8
 14  source_key_x_WRmjgnKYAwPKWDb  68774 non-null  uint8
 15  source_key_x_YxYtjZvoooNbGkE  68774 non-null  uint8
 16  source_key_x_ZnxXDlPa8U1GXgE  68774 non-null  uint8
 17  source_key_x_ZoEaEvLYb1n2sOq  68774 non-null  uint8
 18  source_key_x_adLQvlD726eNBSB  68774 non-null  uint8
 19  source_key_x_bvBOhCH3iADSZry  68774 non-null  uint8
 20  source_key_x_iCRJl6heRkivqQ3  68774 non-null  uint8
 21  source_key_x_ih0vzX44oOqAx2f  68774 non-null  uint8
 22  source_key_x_pkci93gMrogZuBj  68774 non-null  uint8
 23  source_key_x_rGa61gmuvPhdLxV  68774 non-null  uint8
 24  source_key_x_sjndEbLyjtCKgGv  68774 non-null  uint8
 25  source_key_x_uHbuxQJl8lW7ozc  68774 non-null  uint8
 26  source_key_x_wCURE6d3bPkepu2  68774 non-null  uint8
 27  source_key_x_z9Y9gH1T5YWrNuG  68774 non-null  uint8
 28  source_key_x_zBIq5rxdHJRwDNY  68774 non-null  uint8
 29  source_key_x_zVJPv84UY57bAof  68774 non-null  uint8
dtypes: datetime64[ns](1), float64(7), uint8(22)
memory usage: 5.6 MB

In [33]:
df_encoded['date_time'] = df_encoded['date_time'].apply(lambda x: x.timestamp())
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68774 entries, 0 to 68773
Data columns (total 30 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   date_time                     68774 non-null  float64
 1   dc_power                      68774 non-null  float64
 2   ac_power                      68774 non-null  float64
 3   daily_yield                   68774 non-null  float64
 4   total_yield                   68774 non-null  float64
 5   ambient_temperature           68774 non-null  float64
 6   module_temperature            68774 non-null  float64
 7   irradiation                   68774 non-null  float64
 8   source_key_x_1BY6WEcLGh8j5v7  68774 non-null  uint8
 9   source_key_x_1IF53ai7Xc0U56Y  68774 non-null  uint8
 10  source_key_x_3PZuoBAID5Wc2HD  68774 non-null  uint8
 11  source_key_x_7JYdWkrLSPkdwr4  68774 non-null  uint8
 12  source_key_x_McdE0feGgRqW7Ca  68774 non-null  uint8
 13  source_key_x_VHMLBKoKgIrUVDU  68774 non-null  uint8
 14  source_key_x_WRmjgnKYAwPKWDb  68774 non-null  uint8
 15  source_key_x_YxYtjZvoooNbGkE  68774 non-null  uint8
 16  source_key_x_ZnxXDlPa8U1GXgE  68774 non-null  uint8
 17  source_key_x_ZoEaEvLYb1n2sOq  68774 non-null  uint8
 18  source_key_x_adLQvlD726eNBSB  68774 non-null  uint8
 19  source_key_x_bvBOhCH3iADSZry  68774 non-null  uint8
 20  source_key_x_iCRJl6heRkivqQ3  68774 non-null  uint8
 21  source_key_x_ih0vzX44oOqAx2f  68774 non-null  uint8
 22  source_key_x_pkci93gMrogZuBj  68774 non-null  uint8
 23  source_key_x_rGa61gmuvPhdLxV  68774 non-null  uint8
 24  source_key_x_sjndEbLyjtCKgGv  68774 non-null  uint8
 25  source_key_x_uHbuxQJl8lW7ozc  68774 non-null  uint8
 26  source_key_x_wCURE6d3bPkepu2  68774 non-null  uint8
 27  source_key_x_z9Y9gH1T5YWrNuG  68774 non-null  uint8
 28  source_key_x_zBIq5rxdHJRwDNY  68774 non-null  uint8
 29  source_key_x_zVJPv84UY57bAof  68774 non-null  uint8
dtypes: float64(8), uint8(22)
memory usage: 5.6 MB

In [34]:
#create a linear regression for the whole plant 1
X = df_encoded.drop(['total_yield'], axis=1)
y = df_encoded['total_yield']

# Dividere il dataset in set di addestramento e test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Creare il modello di regressione lineare
model = LinearRegression()

# Addestrare il modello
model.fit(X_train, y_train)

# Fare previsioni sul set di test
y_pred_test = model.predict(X_test)
y_pred_train = model.predict(X_train)

# Valutare il modello utilizzando la Mean Squared Error (MSE)
mse_test = mean_squared_error(y_test, y_pred_test)
print(f"\nMean Squared Error sul set di test: {mse_test}")

# Calcolare il R^2 per il set di test
r2_test = r2_score(y_test, y_pred_test)
print(f"R^2 sul set di test: {r2_test}")

# Calcolare il R^2 per il set di addestramento
r2_train = r2_score(y_train, y_pred_train)
print(f"R^2 sul set di addestramento: {r2_train}")

# Effettuare la cross-validation
# Utilizziamo 5-fold cross-validation per valutare il modello
cv_scores = cross_val_score(model, X, y, cv=5, scoring='neg_mean_squared_error')
cv_mse = -cv_scores.mean()  # La cross_val_score restituisce punteggi negativi per MSE
print(f"\nMean Squared Error medio dalla cross-validation: {cv_mse}")

# Visualizzare i punteggi della cross-validation
print("\nPunteggi della cross-validation (MSE negativo):")
print(cv_scores)

Mean Squared Error sul set di test: 7028579.689202246
R^2 sul set di test: 0.9999592870681805
R^2 sul set di addestramento: 0.9999585241563772

Mean Squared Error medio dalla cross-validation: 14088595.053181466

Punteggi della cross-validation (MSE negativo):
[-21288108.07473163  -5238928.60682037  -4836532.8915626
  -6840903.68671238 -32238502.00608036]